$purWhite: #fff;
$grey0: #efefef;
$grey1: #eeeeee;
$grey2: #dfdfdf;
$grey3: #dddddd;
$grey4: #cfcfcf;
$grey5: #cccccc;
$grey6: #bfbfbf;
$grey7: #bbbbbb;
$grey8: #afafaf;
$grey9: #aaaaaa;
$grey10: #9f9f9f;
$grey11: #999999;
$grey12: #8f8f8f;
$grey13: #888888;
$grey14: #808080;
$grey15: #7f7f7f;
$grey16: #777777;
$grey17: #6f6f6f;
$grey18: #666666;
$grey19: #5f5f5f;
$grey20: #555555;
$grey21: #4f4f4f;
$grey22: #444444;
$grey23: #3f3f3f;
$grey24: #333333;
$grey25: #2f2f2f;
$grey26: #222222;
$grey27: #1f1f1f;
$grey28: #111111;
$purBlack: #000;

$grey2: #dfdfdf;


$darkGreyWithFuchia:#382d31;
$darkViolet:#523f81;
$violet:#786f80;
$orange:#f67936;
$red:#f14d4b;
$cayenne:#e66665;
$lightRed:#f4765f;
$brown:#946f5f;
$darkBlue:#4c5a63;
$blue:#5d95d0;
$bleu2:#689ACA;
$blue3: #356494;
$yellow:#fde176;
$lightYellow:#f6f2cc;
$green:#6dc064;
$fadeGreen: #9eceb4;

// color scheme cayenne based

$cayenne: #E66665;
$cayenne2: #AD6464;
$cayenne7: #cd6665;
$cayenne3: #962121;
$cayenne4: #F38C8C;
$cayenne5: #F3A8A8;
$cayenne6: #ffe6e6;
// *** Secondary cayenne A

$cayenneSecondaryA1: #E69F65;
$cayenneSecondaryA2: #AD8564;
$cayenneSecondaryA3: #965621;
$cayenneSecondaryA4: #F3BB8C;
$cayenneSecondaryA5: #F3CAA8;

// *** Secondary cayenne B

$cayenneSecondaryB6: #6caab6;
$cayenneSecondaryB1: #3D8A8A;
$cayenneSecondaryB2: #3C6868;
$cayenneSecondaryB3: #145A5A;
$cayenneSecondaryB4: #72C4C4;
$cayenneSecondaryB5: #88C4C4;
$cayenneSecondaryB7: #8dcece;

// *** Complementary cayenne

$cayenneComplementary1: #51B851;
$cayenneComplementary2: #508A50;
$cayenneComplementary3: #1A781A;
$cayenneComplementary4: #7FDC7F;
$cayenneComplementary5: #98DC98;

$beige3: #d6d5cb;
$beige1: #EFEEE4;
$beige4: #e6e4da;
$beige2: #dddcd2;