@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4375;
  color: #444;
}

a{
  text-decoration: none;
  color: inherit;
  outline: none;
}
